@CHARSET "UTF-8";

input.ng-invalid{
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

select.ng-invalid{
	border-color: #e9322d;
}