<extend name=":main" />
<block name="scripts_extend">
	<script>
		function listController($scope,$http){

			sp_list({
				url:'__API_ROOT__index.pl?action=getschedulelist&domain_uuid='+current_domain_uuid
			},$scope,$http);
			
			$scope.delete=function(uuid){
				sp_delete({
					url:'__API_ROOT__index.pl?action=deleteschedule&domain_uuid='+current_domain_uuid,
					listurl:'__API_ROOT__index.pl?action=getschedulelist&domain_uuid='+current_domain_uuid,
					params:{schedule_uuid:uuid}
				},$scope,$http);
			}
		}
	
	</script>

</block>
<block name="content">
<ul class="nav nav-tabs">
     <li class="active"><a href="[{:u('timeconditions/index')}]">Time Conditions</a></li>
     <li><a href="[{:u('timeconditions/add')}]">Add Time Condition</a></li>
  </ul>
  <div class="well">
  Time conditions route calls based on time conditions.
  You can use time conditions to send calls to an IVR Menu, External numbers, Scripts, or other destinations.
  </div>
  
  <table class="table table-hover" ng-controller="listController">
  	<thead>
	  	<tr>
			<tr>
				<th>Name</th>
				<th>Number</th>
				<th>Order</th>
				<th>Enabled</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
	</thead>
	<tbody>
		<tr  ng-repeat="vo in lists">
		   <td>{{vo.dialplan_name}}</td>
		   <td></td>
		   <td>300</td>
		   <td>{{vo.dialplan_enabled}}</td>
		   <td>{{vo.dialplan_description}}</td>
		   <td>
		   		<a href="[{:u('timeconditions/edit',array('schedule_uuid'=>'{{vo.schedule_uuid}}'))}]" title="Edit"><i class="fa fa-edit"></i></a>
		   		<a href="#" title="Delete" ng-click="delete(vo.schedule_uuid)"><i class="fa fa-trash-o"></i></a>
		   	</td>
		</tr>
	</tbody>
	
  
  
  </table>
</block>