<extend name=":main" />
<block name="scripts_extend">
	<script>
		function listController($scope,$http){
			
			sp_list({
				url:'__API_ROOT__index.pl?action=getgatewaylist&domain_uuid='+current_domain_uuid
			},$scope,$http);
			
			$scope.delete=function(uuid){
				sp_delete({
					url:'__API_ROOT__index.pl?action=deletegateway&domain_uuid='+current_domain_uuid,
					listurl:'__API_ROOT__index.pl?action=getgatewaylist&domain_uuid='+current_domain_uuid,
					params:{gateway_uuid:uuid}
				},$scope,$http);
			}
			
		}
	
	</script>

</block>
<block name="content">
<ul class="nav nav-tabs">
     <li class="active"><a href="[{:u('gateways/index')}]">Gateways</a></li>
     <li><a href="[{:u('gateways/add')}]">Add Gateway</a></li>
  </ul>
  <div class="well">
  Gateways provide access into other voice networks. These can be voice providers or other systems that require SIP registration.
  </div>
  
  <table class="table table-hover" ng-controller="listController">
  	<thead>
	  	<tr>
			<tr>
				<th>Gateway</th>
				<th>Context</th>
				<th>Status</th>
				<th>Action</th>
				<th>State</th>
				<th>Enabled</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
	</thead>
	<tbody>
		<tr  ng-repeat="vo in lists">
		   <td>{{vo.gateway}}</td>
		   <td>{{vo.context}}</td>
		   <td>{{vo.ddd}}</td>
		   <td>{{vo.ddd}}</td>
		   <td>{{vo.ddd}}</td>
		   <td>{{vo.enabled}}</td>
		   <td>{{vo.description}}</td>
		   <td>
		   		<a href="[{:u('gateways/edit',array('gateway_uuid'=>'{{vo.gateway_uuid}}'))}]" title="Edit"><i class="fa fa-edit"></i></a>
		   		<a href="#" title="Delete" ng-click="delete(vo.gateway_uuid)"><i class="fa fa-trash-o"></i></a>
		   	</td>
		</tr>
	</tbody>
	
  
  
  </table>
</block>